 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // border: red solid 1px;
}

h1 {
    color: white;
}

h5,
h4 {
    color: rgb(0, 0, 0);
}
h6 {
    width: max-content;
    color: rgba(255, 255, 255, 0.877);
}

p {
    color: rgba(255, 255, 255, 0.848);
    font-size: larger;
}

strong {
    font-weight: 500;
}

a,
ul,
li {
    width: min-content;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease;
}

a:hover {
    color: rgba(255, 255, 255, 0.708);
}

ul {
    width: fit-content;
    display: inline-flex;
    padding: 1em;
    justify-content: space-between;
    gap: 2em;
    font-size: medium;
    font-weight: 600;
}

pre {
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
    transition: ease-in-out 0.2s;
}

.project-title {
    padding-top: 3%;
    color: black;
    font-weight: 300;
    font-size: 2.5rem;
}

.title {
    color: black;
    font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 5rem;
}

.work-title {
    color: black;
    font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.navbar-container {
    width: 100%;
    padding: 1%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;

    .j-t {
        font-weight: 700;
        position: relative;
        z-index: 11;
        font-size: larger;
        // transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .menu {
        width: auto;
        display: flex;
        gap: 2rem;
    }

    @media (max-width: 900px) {
        display: none;
    }
}
// ================================================================= //

.hero-container {
    height: 60%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .coll {
        width: 100%;
        padding: 5em;

        @media (max-width: 900px) {
            padding: 5px;
        }

        .name {
            font-weight: 200;
        }

        .sulogan {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .slide-window {
            width: 100%;
            height: 300px;
            overflow: hidden;
            background-color: rgba(49, 121, 198);
            border: 1px rgba(255, 255, 255, 0.66) solid;
            border-radius: 0.5em;

            .slide {
                border-bottom: 1px rgba(255, 255, 255, 0.66) solid;
                align-items: center;
                cursor: pointer;
                font-size: medium;

                .child {
                    color: rgb(218, 218, 218); /* Initial text color */
                    text-decoration: none; /* Remove underline */
                    font-size: small;
                    cursor: pointer;
                    font-weight: 300;
                    transition: color 0.3s ease; /* Smooth transition */
                    // margin: 5px; /* Spacing between links */
                }

                .child:hover {
                    text-decoration: underline;
                    color: #fff700;
                }
                
                .child.active {
                    text-decoration: underline;
                    color:#fff700; /* Active color when class is added */
                }

            }
            .result {
                width: inherit;
                height: inherit;
                background-color: rgb(42, 101, 164);
            }

            .result-container {
                padding: 2%;

                .result-p {
                    padding: 1%;
                    font-size: small;
                    color: #ffffff;
                    cursor: pointer;
                }
                a{
                    text-decoration: underline;
                }

                a:hover{
                    color: #fff700;
                }

            }
        }
    }

    .visit-button:hover {
        background-color: rgba(255, 255, 255, 0.799);
    }
}

// ================================================================= //

.slider-section {
    background-color: black;
    white-space: nowrap;
    animation: smooth;
    cursor: pointer;
    position: relative;

    .slider-container {
        width: auto;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        display: inline-flex;
        animation: slide 60s linear infinite;

        @keyframes slide {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }

        .slider-item {
            width: max-content;
            display: flex;
            gap: 5px;
            align-items: center;
            margin: 0 30px;
            white-space: nowrap;

            .slider-name {
                color: white;
                font-size: 1rem;
                font-weight: 300;
            }

            img {
                width: 1.6rem;
            }
        }
    }
}

.slider-section:hover .slider-container {
    animation-play-state: paused;
}

.slider-section:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    content: " ";
    z-index: 2;
    background: linear-gradient(to left, transparent, rgb(0, 0, 0));
}
.slider-section:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    content: " ";
    z-index: 2;
    background: linear-gradient(to right, transparent, rgb(0, 0, 0));
}

// ================================================================= //

.about-section {
    width: 100%;
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    .about-container {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        gap: 2em;

        @media (max-width: 900px) {
            width: 100%;
            height: auto;
            align-items: center;
            // padding: 5%;
            flex-direction: column;
        }

        .about-img {
            width: 300px;
            height: 300px;
            border: 5px solid var(--background-color);
            border-style: double;
            border-radius: 50%;
            box-shadow: var(--background-color) 0px 5px 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            @media (max-width: 900px) {
                border-radius: 100%;
            }
        }
        .about-me {
            width: 70%;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 2%;

            .jatin {
                color: var(--background-color);
                font-size: xx-large;
                font-weight: 500;
            }

            .about-dis {
                padding: none;
                font-size: large;
                color: black;
            }

            .tech-button-container {
                width: 100%;
                opacity: 1;
                will-change: auto;

                .tech_buttons {
                    display: flex;
                    opacity: 1;
                    will-change: auto;
                    gap: 0.2rem;
                    flex-wrap: wrap;

                    .tech-button {
                        width: fit-content;
                        height: auto;
                        //   background-color: rgb(118, 177, 255);
                        color: black;
                        font-weight: 600;
                        padding: 5px 10px;
                        border: black 1px solid;
                        align-items: center;
                        transition: ease-in-out 0.2s;
                    }
                    .tech-button:hover {
                        z-index: 10;
                        scale: 110%;
                        background-color: var(--background-color);
                    }
                }

                /* Pop-up container that appears on hover */
            }
            /* Styles for the link button */
            .link-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
                margin: 20px;
            }

            /* Pop-up container that appears on hover */
            .popup-container {
                position: absolute; /* Use absolute positioning */
                width: 200px; /* Fixed size */
                height: 200px;
                background-color: rgb(0, 0, 0);
                border-radius: 5px;
                border: 1px solid #ddd;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                z-index: 10;
                border: none;
                pointer-events: none; /* Prevent interaction with the pop-up */
                clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 57% 95%, 50% 100%, 42% 95%, 0 95%);
                transition: ease-in-out 0.02s;
            }

            /* Styles for the image inside the pop-up container */
            .popup-image {
                padding: 20%;
                position: center;
                object-fit: cover;
                transition: ease-in-out 1s; 
            }
            .popup-image:hover {
                scale: 100%;
            }

            /* Additional hover effects (optional) */
            .link-button:hover {
                background-color: #0056b3;
            }

            .links {
                width: auto;
                height: auto;
                display: inline-block;
            }
        } 
    }

   
}

// ================================================================= //

.work-section {
    width: 100%;
    padding-top: 5rem;
    padding: 5rem;
    height: max-content;
    margin-top: 3em;

    .work-card-container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        gap: 2em;

        @media (max-width: 1100px) {
            width: 800px;
            padding-left: 3%;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 0.5fr));
            place-content: center;
            // border:  red 1px solid;
        }

        @media (max-width: 800px) {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: 1rem;
            align-items: center;
        }
    }

    .card {
        width: 300px;
        height: 300px;
        background-color: white;
        // border-radius: 10px;
        cursor: pointer;
        transition: ease-in-out 0.2s;
        border: 1px solid var(--background-color);
    
        .card-title {
            font-size: 1.2rem;
            margin-top: 2rem;
            font-weight: 500;
            color: black;
            margin-bottom: 1rem;
        }
    
        .card-dis {
            color: black;
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .card-img {
            width: 80px;
            height: 80px;
            margin-top: 1rem;
            border-radius: 100px;
            border: black solid 2px;
            padding: 5%;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .card:hover {
        z-index: 10;
        scale: 105%;
        box-shadow:
            var(--background-color) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;

            .card-title {
                color: var(--background-color);
            }
        
            .card-dis {
                color: var(--background-color);
            }
        
            .card-img {
                border: var(--background-color) solid 2px;
    
            }    
    }
}

// ================================================================= //

.project-section {
    width: 100%;
    height: max-content;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 2%;
    padding-bottom: 5%;
    justify-content: space-between;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
    }
    .project-card-container {
        width: 250px;
        height: 350px;
        position: relative;
        display: block;
        align-items: end;
        border: rgb(0, 0, 0) solid 1px;
        box-shadow:
            rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        align-items: center;
        transition: ease-in-out 0.1s;
        overflow: hidden;

        .project-img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(1);
            overflow: hidden;
            transition: all 0.6s;
        }
        .project-details {
            width: 100%;
            height: fit-content;
            font-size: x-large;
            font-weight: 100;
            margin-top: 250px;
            display: flex;
            z-index: 1;
            padding-left: 5%;

            .pr-name {
                font-weight: 500;
            }

            .pr-dis {
                font-weight: 400;
                font-size: 15px;
            }

            .arrow {
                padding: 5%;
                padding-left: 5%;
            }
        }
    }

    .project-card-container:hover {
        border: solid var(--background-color) 1px;
        box-shadow:
            rgb(49, 120, 198, 0.16) 0px 10px 36px 0px,
            rgb(49, 120, 198, 0.6) 0px 0px 0px 1px;
        display: block;

        .project-img {
            scale: 110%;
            // rotate: 15deg;
        }

        .pr-name {
            color: var(--background-color);
        }

        .pr-dis {
            color: var(--background-color);
        }

        .arrow-color {
            stroke: var(--background-color);
        }
    }
}

// ================================================================= //

.contact-title {
    color: black;
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 5rem;
}
.contact-section {
    margin-top: 1rem;

    .connect {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            width: 600px;
            border: var(--background-color) solid 1px;
            border-radius: 10px;
            display: block;
            align-items: center;
            background-color: #fafcff;
            margin: 1%;
            padding: 1%;

            .input-box {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                transition: border-color 0.3s;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 2rem;
                    color: var(--background-color);
                }

                input,
                textarea {
                    color: rgb(0, 0, 0);
                    font-size: 20px;
                    background: transparent;
                    padding: 1%;
                    padding-bottom: 0;
                    // background-color: var(--background-color);
                    text-decoration: none;
                    height: 50px;
                    border: none;
                    border-bottom: solid 1px black;
                }

                textarea {
                    min-height: 200px;
                    place-items: end;
                    border: 1px solid black;
                    // overflow: hidden;
                    resize: none;
                }
            }

            .submit {
                font-size: 30px;
                width: 100%;
                align-items: center;
                color: var(--background-color);
                border-radius: 5px;
                border: solid 1px var(--background-color);
            }
        }
    }
}
 //------------------------------------------------------------------------------------------------

 .footer-slider {
    width: 100%;
    margin-top: 5rem ;
 }
 .footer-section {
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: var(--background-color);
    border: black 2px solid;

    .f-p{
        width: fit-content;
        color: #ffffffb2;
        font-size: medium;
    }

    .hov:hover {
        scale: 110%;
    }
 }