:root {
    --background-color: rgb(49,120,198);
}
::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background: transparent;
    /* background: #cccccc;
    */
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    z-index: 10 !important;
    background: rgb(121, 121, 121);
    cursor: pointer;
  }
.header-container {
    background-color: var(--background-color);
}

body {
  overflow-x: hidden;
}

.visit-button {
  width: fit-content;
  border: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  padding: 1%;
  letter-spacing: 0.1em;
  transition: ease-in-out 0.2s;

  .visit-container {
      padding-right: 1em;
      border-right: solid 2px black;

  }
  .visit-img {
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
  }
}
.visit-button:hover {
  background-color: rgba(255, 255, 255, 0.799);
}


/* Styles for the link button */
.link-button {
  position: relative; /* Important for positioning the pop-up */
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}
