:root {
    --background-color: rgb(49,120,198);
}
::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background: transparent;
    /* background: #cccccc;
    */
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2a2a2a;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    z-index: 10 !important;
    background: rgb(108, 108, 108);
    cursor: pointer;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }

.header-container {
    background-color: var(--background-color);
}

.visit-button {
  width: fit-content;
  border: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  padding: 1%;
  letter-spacing: 0.1em;
  transition: ease-in-out 0.2s;

  .visit-container {
      padding-right: 1em;
      border-right: solid 2px black;

  }
  .visit-img {
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
  }
}

.visit-button:hover {
  background-color: rgba(255, 255, 255, 0.799);
}

.tech-button {
  width: max-content;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  
  padding: 0.8%;
  letter-spacing: 0.1em;
  transition: ease-in-out 0.2s;
  border-radius: 5px;
}

.tech-button:hover {
  background-color: var(--background-color);

}