/* Style your button and icons */
.theme-bitton {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 10%;
    z-index: 10;
    background-color:  rgb(49,120,198);
    border: none;
}

button svg {
    /* Apply your desired icon styles here */
    width: 20px;
    height: 20px;
    fill: rgb(255,255,255);
    transition: ease-in-out 0.2s;
}

button svg:hover {
    stroke: rgb(0, 0, 0);
    stroke-width: 2rem;
}

/* Light theme styles */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

.social-container {
  position: fixed;
  width: max-content;
  height: auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color:  rgba(137, 194, 255); */
  border-top: solid 2px  rgb(49,120,198);
  border-left: solid 2px  rgba(49, 120, 198);
  border-bottom: solid 2px  rgb(49,120,198);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 10%;
  right: 0;
  z-index: 1000;

  .img-h {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 20;
  }
}